{% macro segmentation_parameters(form) %}
<form
    method="post"
    action="{{ url_for('segm.cluster_customers') }}"
    class="border-b border-white rounded-xl flex flex-col items-center justify-center mx-4 py-5 px-8"
    enctype="multipart/form-data"
>
    {{ form.hidden_tag() }}
    <!-- CSRF protection -->

    <div class="border-white flex flex-col justify-center w-full max-w-sm">
        <!-- Dropdown to select segmentation metric -->
        <fieldset class="border-white flex flex-col">
            <label
                class="text-sm font-medium text-white dark:text-white"
                for="metric"
            >
                {{ form.metric.label }}
            </label>
            {{ form.metric( id="metric", class="text-black bg-fyp-primary-100
            hover:bg-gray-300 focus:ring-4 focus:outline-none
            focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mt-2
            text-center dark:bg-blue-600 dark:hover:bg-blue-700
            dark:focus:ring-blue-800", required=True ) }}
        </fieldset>

        <!-- Number of clusters to form -->
        <fieldset class="border-white mt-6 flex flex-col">
            <!-- Radio button for number of clusters (auto/custom) -->
            <label class="text-sm font-medium text-white dark:text-white">
                {{ form.number_choice.label }}
            </label>
            <div class="grid grid-cols-5 gap-1 mt-2">
                {% for subfield in form.number_choice %}
                <div class="flex items-center">
                    {{ subfield( class="w-4 h-4 border-gray-300 focus:ring-2
                    focus:ring-blue-300 dark:focus:ring-blue-600
                    dark:focus:bg-blue-600 dark:bg-gray-700
                    dark:border-gray-600", ) }}
                    <label
                        class="ms-2 me-4 text-sm font-medium text-white dark:text-gray-300"
                    >
                        {{ subfield.label.text }}
                    </label>
                </div>
                {% endfor %}
            </div>
        </fieldset>

        <!-- Other error messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        <!-- Check if there are messages -->
        {% if messages %}
        <div
            class="p-4 mt-2 text-sm text-center text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
            role="alert"
        >
            <!-- Display each message -->
            {% for category, message in messages %}
            <span class="font-medium">{{ message }}</span>
            {% endfor %}
        </div>
        {% endif %} {% endwith %}
    </div>

    <!-- Submit button -->
    {{ form.submit(class="text-white bg-fyp-tertiary-100
    hover:bg-fyp-tertiary-200 focus:ring-4 focus:outline-none
    focus:ring-fyp-tertiary-100 font-medium rounded-md text-sm mt-8 px-5 py-2.5
    text-center") }}
</form>

{% endmacro %}
