{% extends "baselayout.html" %}
<!-- Page title -->
{% block title %}Segment Customers - OptiPrice{% endblock %} {% block content %}

<!-- Page content -->
<!-- Page header -->
<h1
    class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-center text-white md:text-5xl lg:text-6xl dark:text-white"
>
    Segment your
    <span class="text-fyp-tertiary-100">Customers</span>
</h1>
<div
    class="w-full border border-fyp-secondary-100 flex flex-col justify-center items-center bg-fyp-secondary-100 hover:border-fyp-tertiary-100 transition-all duration-100 ease-in-out p-8 m-4"
>
    <!-- File upload input field -->
    <!-- If file not uploaded, show upload form -->
    {% if not segmentation_file_uploaded %} {% from
    "macros/segmentation_file_upload_macro.html" import file_upload %}
    {{file_upload(form=file_upload_form)}}

    <!-- Else show segmentation view macro -->
    {% else %} {% from "macros/segmentation_view_macro.html" import
    segmentation_view %}
    {{segmentation_view(form=segmentation_parameters_form)}} {% endif %}
</div>

{% endblock %}
