{% macro segmentation_chart() %}
<div
    class="w-full h-auto flex flex-col items-center px-4 mx-auto border-x border-white text-white"
>
    <canvas
        id="cluster-chart"
        width="auto"
        height="auto"
        class="border-b border-white"
    ></canvas>
    <!-- Download report button -->
    <form class="mt-4 border-white">
        <button
            id="download-segmentation-report-button"
            type="submit"
            class="text-white bg-fyp-tertiary-100 hover:bg-fyp-tertiary-200 focus:ring-2 focus:outline-none focus:ring-fyp-primary-100 font-medium rounded-md text-sm px-5 py-2.5 text-center"
            style="display: none"
        >
            Download Report
        </button>
    </form>
    <!-- Processing message -->
    <p
        id="segmentation-message"
        class="border-white mt-4 text-fyp-tertiary-100 font-bold text-sm"
        style="display: none"
    >
        Segmenting customers, please wait...
    </p>
</div>
<script src="{{ url_for('segm.static', filename='js/segmentation_chart.js') }}"></script>

{% endmacro %}
