<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flowbite Flask</title>
    <link href="{{ url_for('static', filename='dist/css/output.css') }}" rel="stylesheet">
</head>

<body>
    <h1 class="text-blue-600">Hello, Flask!</h1>

    <div class="p-4 max-w-sm bg-white rounded-lg border shadow-md">
        <h5 class="text-2xl font-bold tracking-tight text-gray-900">Flowbite Card</h5>
        <p class="font-normal text-gray-700">This is a Flowbite card.</p>
    </div>

</body>

</html>