{% macro footer() %}
<footer
  class="bg-fyp-primary-100 rounded-lg shadow-sm dark:bg-gray-900 m-4 mt-1 w-full"
>
  <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
    <hr class="my-6 border-black sm:mx-auto dark:border-gray-700 lg:my-8" />
    <span
      class="block text-sm font-bold text-fyp-tertiary-100 sm:text-center dark:text-gray-400"
    >
      © 2025
      <a href="{{ url_for('main.index') }}" class="hover:underline">
        OptiPrice
      </a>
      . All Rights Reserved.
    </span>
  </div>
</footer>
{% endmacro %}
