{% macro login_form(form) %}
<form
    class="w-full rounded-lg"
    method="POST"
    action="{{ url_for('auth.handle_login') }}"
>
    {{ form.hidden_tag() }}
    <!-- CSRF protection -->

    <!-- Email -->
    <div class="mb-4">
        <!-- Label -->
        <label
            for="email"
            class="block text-sm font-medium text-white dark:text-white"
        >
            {{ form.email.label }}
        </label>

        <!-- Input field -->
        {{ form.email(class="w-full bg-gray-100 border border-gray-300
        text-black text-sm rounded-md focus:ring-fyp-tertiary-100
        focus:border-fyp-tertiary-100 block p-2.5 dark:bg-gray-700
        dark:border-gray-600 dark:text-white dark:focus:ring-fyp-tertiary-100
        dark:focus:border-fyp-tertiary-100 transition") }}

        <!--  Validator error messages -->
        {% if form.email.errors %}
        <ul
            class="p-4 mt-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
            role="alert"
        >
            {% for error in form.email.errors %}
            <li class="font-medium">{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

    <!-- Password -->
    <div class="mb-6">
        <!-- Label -->
        <div class="flex flex-col border-white justify-between">
            <label
                for="password"
                class="block text-sm font-medium text-white dark:text-white"
            >
                {{ form.password.label }}
            </label>
            <div class="border-white w-full flex">
                <!-- Input field -->
                {{ form.password( id="login-pw" ,class=" w-full bg-gray-100
                border border-gray-300 text-black text-sm rounded-md
                focus:ring-fyp-tertiary-100 focus:border-fyp-tertiary-100 block
                p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white
                dark:focus:ring-fyp-tertiary-100
                dark:focus:border-fyp-tertiary-100 transition") }}
                <!--  Validator error messages -->
                {% if form.password.errors %}
                <ul
                    class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                    role="alert"
                >
                    {% for error in form.password.errors %}
                    <li class="font-medium">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}

                <button
                    type="button"
                    class="px-4 ml-2 border-white text-white text-sm font-bold bg-fyp-tertiary-100 rounded-md hover:bg-fyp-tertiary-200"
                    onclick="toggleVisibility()"
                >
                    <i id="toggle-btn" class="fas fa-eye"></i>
                </button>
            </div>
        </div>
    </div>

    <!-- Login button -->
    <button
        type="submit"
        class="w-full text-white bg-fyp-tertiary-100 hover:bg-fyp-tertiary-200 hover:scale-100 focus:ring-4 focus:outline-none focus:ring-fyp-tertiary-100 font-medium rounded-md text-sm px-5 py-2.5 text-center"
    >
        {{ form.submit }}
    </button>
</form>

<script>
    function toggleVisibility() {
        const pw = document.getElementById("login-pw");
        const toggleBtn = document.getElementById("toggle-btn");

        pw.type = pw.type === "password" ? "text" : "password";
        toggleBtn.classList.toggle("fa-eye");
        toggleBtn.classList.toggle("fa-eye-slash");
    }
</script>
{% endmacro %}
