{% macro login_form(form) %}
<form
    class="w-full rounded-lg"
    method="POST"
    action="{{ url_for('auth.login') }}"
>
    {{ form.hidden_tag() }}
    <!-- CSRF protection -->

    <!-- Email -->
    <div class="mb-4">
        <label
            for="email"
            class="block text-sm font-medium text-gray-900 dark:text-white"
        >
            Email
        </label>
        {{ form.email(class="w-full bg-gray-100 border border-gray-300
        text-gray-900 text-sm rounded-md focus:ring-fyp-tertiary-100
        focus:border-fyp-tertiary-100 block p-2.5 dark:bg-gray-700
        dark:border-gray-600 dark:text-white dark:focus:ring-fyp-tertiary-100
        dark:focus:border-fyp-tertiary-100 transition") }}
    </div>

    <!-- Password -->
    <div class="mb-6">
        <label
            for="password"
            class="block text-sm font-medium text-gray-900 dark:text-white"
        >
            Password
        </label>
        {{ form.password(class="w-full bg-gray-100 border border-gray-300
        text-gray-900 text-sm rounded-md focus:ring-fyp-tertiary-100
        focus:border-fyp-tertiary-100 block p-2.5 dark:bg-gray-700
        dark:border-gray-600 dark:text-white dark:focus:ring-fyp-tertiary-100
        dark:focus:border-fyp-tertiary-100 transition") }}
    </div>

    <!-- Login button -->
    <button
        type="submit"
        class="w-full text-white bg-fyp-tertiary-100 hover:bg-fyp-tertiary-200 hover:scale-105 focus:ring-4 focus:outline-none focus:ring-fyp-tertiary-100 font-medium rounded-md text-sm px-5 py-2.5 text-center"
    >
        {{ form.submit }}
    </button>
</form>
{% endmacro %}
