<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}OptiPrice{% endblock %}</title>

        <!-- Default Flowbite CSS -->
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='dist/css/flowbite.min.css') }}"
        />
        <!-- Custom Flowbite CSS -->
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='dist/css/output.css') }}"
        />
    </head>

    <body
        class="border bg-fyp-primary-100 h-screen flex flex-col items-end justify-center"
    >
        <!-- Main Content -->
        <div
            class="w-full max-w-md h-full flex p-8 bg-fyp-secondary-100 rounded-lg shadow-lg"
        >
            {% block content %}{% endblock %}
        </div>

        <!-- Flowbite JS -->
        <script src="{{ url_for('static', filename='dist/js/flowbite.min.js') }}"></script>
    </body>
</html>
