<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}OptiPrice{% endblock %}</title>

        <!-- Custom Flowbite CSS -->
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='dist/css/output.css') }}"
        />

        <!-- Default Flowbite CSS -->
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='dist/css/flowbite.min.css') }}"
        />
    </head>

    <body class="flex flex-col items-center pt-20 bg-fyp-primary-100">
        <!-- ChartJS -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <!-- ChartJS plugin - ColorSchemes -->
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-colorschemes"></script>

        <!-- ChartJS plugin - DataLabels -->
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>

        <!-- SheetJS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>

        <!-- Sidebar -->
        {% from "macros/navbar_macro.html" import navbar %} {{ navbar() }}
        <!-- Main Content -->
        <div class="container pt-6 flex flex-col items-center">
            {% block content %}{% endblock %}
        </div>

        <!-- Footer -->
        {% from "macros/footer_macro.html" import footer %} {{footer()}}

        <!-- Flowbite JS -->
        <script src="{{ url_for('static', filename='dist/js/flowbite.min.js') }}"></script>
    </body>
</html>
